<div class="container">
  <main>
    <nav class="menu">
      <h1>Happy Valentine's day</h1>
      <a class="menu__item" data-img="src/images/01.webp">
        <span class="menu__item-text"
          ><span class="menu__item-textinner"
            >Wakame
          </span></span
        >
        <span class="menu__item-sub"
          >tasty rice and ramen - we go again</span
        >
      </a>
      <a class="menu__item" data-img="src/images/02.webp">
        <span class="menu__item-text"
          ><span class="menu__item-textinner"
            >Grey Matter
          </span></span
        >
        <span class="menu__item-sub"
          >your beautiful smile - will kiss you forever</span
        >
      </a>
      <a class="menu__item" data-img="src/images/03.webp">
        <span class="menu__item-text"
          ><span class="menu__item-textinner"
            >Cavemen
          </span></span
        >
        <span class="menu__item-sub">i love tipsy Ojay</span
        >
      </a>
      <a class="menu__item" data-img="src/images/04.webp">
        <span class="menu__item-text"
          ><span class="menu__item-textinner"
            >STEAK HOUSE
          </span></span
        >
        <span class="menu__item-sub"
          >cosy and chill - steak is a no go</span
        >
      </a>
      <a class="menu__item" data-img="src/images/05.webp">
        <span class="menu__item-text"
          ><span class="menu__item-textinner"
            >THE GRID
          </span></span
        >
        <span class="menu__item-sub"
          >you paint really well, better than i</span
        >
      </a>

      <a class="menu__item" data-img="src/images/06.webp">
        <span class="menu__item-text"
          ><span class="menu__item-textinner"
            >CHICC
          </span></span
        >
        <span class="menu__item-sub"
          >You looked really chic</span
        >
      </a>
      <a class="menu__item" data-img="src/images/07.webp">
        <span class="menu__item-text"
          ><span class="menu__item-textinner"
            >TRIB? we still vibe
          </span></span
        >
        <span class="menu__item-sub"
          >i love your beautiful nose</span
        >
      </a>
    </nav>
    <svg
      class="cursor"
      width="80"
      height="80"
      viewBox="0 0 80 80"
    >
      <circle class="cursor__inner" cx="40" cy="40" r="20"
      ></circle>
    </svg>
  </main>

  <style is:global>
    @font-face {
      font-family: "Goldenbook";
      src: url("/fonts/Goldenbook-Light.woff2")
        format("woff2");
      font-weight: 200;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "Degular";
      src: url("/fonts/Degular-Bold.woff2") format("woff2");
      font-weight: 600;
      font-style: normal;
      font-display: swap;
    }

    body {
      font-family: "Degular", sans-serif;
      background-color: hsl(73deg 14% 92%);
    }

    h1 {
      font-family: "Goldenbook", serif;
      font-weight: 200;
      padding-left: 25vw;
      text-transform: uppercase;
      color: #f32015;
    }
    .menu {
      padding: 5rem 0 20vh 0;
      width: 90vw;
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: right;
      user-select: none;
      counter-reset: menucounter;
    }

    .menu__item {
      display: flex;
      justify-content: initial;
      position: relative;
      padding-left: 25vw;
    }

    .menu__item::before {
      counter-increment: menucounter;
      content: counters(
        menucounter,
        ".",
        decimal-leading-zero
      );
      position: absolute;
      left: 0;
      border-left: 3px solid currentColor;
      top: 20%;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      line-height: 1;
      font-weight: bold;
      transform: translateX(-1rem);
      transition:
        transform 0.3s,
        opacity 0.3s;
      opacity: 0;
    }

    .menu__item:hover::before {
      opacity: 1;
      transform: translateX(0);
    }

    .menu__item-text,
    h1 {
      position: relative;
      cursor: pointer;
      padding: 0.5rem;
      display: block;
      overflow: hidden;
      font-size: 6vw;
    }

    .menu__item-textinner {
      font-family: "Goldenbook", serif;
      text-transform: uppercase;
      display: block;
      white-space: nowrap;
    }

    .menu__item:hover .menu__item-textinner {
      color: #f32015;
    }

    .menu__item-sub {
      /* display: none; */
      display: flex;
      text-transform: uppercase;
      font-weight: bold;
      white-space: nowrap;
      align-items: center;
      position: relative;
      margin-left: 2rem;
      padding-left: 2rem;
      opacity: 0;
      transform: translateX(-1rem);
      transition:
        transform 0.3s,
        opacity 0.3s;
      /* font-family: "PP Neue Corp"; */
      font-size: 0.8rem;
    }

    .menu__item:hover .menu__item-sub {
      opacity: 1;
      transform: translateX(0);
    }

    .menu__item-sub::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 15%;
      width: 1px;
      height: 70%;
      background: currentColor;
      transform-origin: 0 100%;
      transform-origin: rotate(22.5deg) scale3d(1, 0, 1);
      transition: transform 0.3s;
    }

    .menu__item:hover .menu__item-sub::before {
      transform: rotate(22.5deg) scale3d(1, 1, 1);
    }

    .hover-reveal {
      position: absolute;
      z-index: -1;
      width: 220px;
      height: 320px;
      top: 0;
      left: 0;
      pointer-events: none;
      opacity: 0;
    }

    .hover-reveal__inner,
    .hover-reveal__img {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .hover-reveal__img {
      background-size: cover;
      background-position: 50% 50%;
    }

    .hover-reveal__inner {
      overflow: hidden;
    }

    a {
      text-decoration: none;
      color: black;
    }

    .cursor {
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      pointer-events: none;
    }

    .cursor__inner {
      opacity: 0.3;
      fill: #000;
      stroke-width: 1px;
      stroke: #000;
    }
  </style>
</div>

<script src="../scripts/index.js"></script>
